@import 'variables'

.button
  background-color transparent
  color $secondary-grey
  border .15rem solid $secondary-grey
  border-radius 2rem
  height 3.125rem
  width 11.25rem

.button.primary
  border-color $primary-orange
  color $primary-orange
  transition $hover-transition
  &:hover
    background-color $primary-orange
    color $primary-white
    cursor pointer

.button.info
  border-color $primary-green
  color $primary-green
