$primary-green = #79BD1A
$primary-orange = #F98100
$primary-black = #000000
$primary-grey = #555555
$secondary-grey = #B5B5B5
$primary-white = #FFFFFF
$border-top = #E3E3E3
$border-bottom = #979797
$hover-transition = all .3s ease

