@import 'variables'

:host
  border-radius 0.3rem
  box-shadow 0 0 1rem $secondary-grey
  display flex
  flex-direction column
  justify-content space-around
  max-width 52.5rem
  padding 1rem
  width 100%

.hotel-item__flip-container
  align-items center
  display flex
  flex 1
  flex-direction column
  perspective 100rem
  width 100%

.flipped .hotel-item__flip-container__flipper
    transform rotateY(180deg)

.hotel-item__flip-container__flipper
  display flex
  border-bottom .1rem solid $secondary-grey
  height 100%
  position relative
  transition .6s
  transform-style preserve-3d
  width 100%

.hotel-item__flip-container__image
  display flex
  border-radius .2rem
  box-shadow 0 0 1rem $secondary-grey
  height 100%
  margin-top -3rem
  max-height 16rem
  max-width 16rem
  transition $hover-transition
  width 100%
  &:hover
    transform scale(1.03)

.hotel-item__price
  align-items flex-end
  align-self flex-end
  display flex
  flex-direction column
  padding 1rem 1rem 0 1rem

.hotel-item__price__label
  color $secondary-grey
  font 100 1rem 'Heebo', sans-serif

.hotel-item__price__value
  color $primary-green
  font 700 2.5rem 'Montserrat', sans-serif

@media screen and (min-width 37.5rem)
  .hotel-item__flip-container
    border-bottom .1rem solid $secondary-grey
    flex-direction row
    height 100%
    min-height 16rem

  .hotel-item__flip-container__flipper
    border-bottom 0
    margin-left 1rem

  .hotel-item__flip-container__image
    margin auto

@media screen and (min-width 44rem)
  .hotel-item__flip-container
    padding-bottom 1rem

@media screen and (min-width 50rem)
  .hotel-item__flip-container__flipper
    margin 0 4rem

@media screen and (min-width 54rem)
  :host
    flex-direction row

  .hotel-item__flip-container
    border-right .1rem solid $secondary-grey
    border-bottom 0
    padding-bottom 0

  .hotel-item__flip-container__flipper
    margin 0 1rem

  .hotel-item__price
    align-self center

@media screen and (min-width 64rem)
  .hotel-item__flip-container__image
    margin-left -3rem
