<div class="hotel-item__flip-container" [class.flipped]="flipped">
  <img [src]="hotel?.Image" alt="name + 'picture'" class="hotel-item__flip-container__image">
  <div class="hotel-item__flip-container__flipper">
    <hotel-front [name]="hotel?.Name" [description]="hotel?.Description" (flip)="onFlip($event)"></hotel-front>
    <hotel-back [priceHistory]="hotel?.PriceHistory" (flip)="onFlip($event)"></hotel-back>
  </div>
</div>
<div class="hotel-item__price">
  <span class="hotel-item__price__label">Total</span>
  <span class="hotel-item__price__value" [textContent]="'$' + hotel?.TotalPrice"></span>
</div>
