<div class="hotel-item__flipper__front__container">
  <img [src]="image" alt="name + 'picture'" class="hotel-item__flipper__front__container__image">
  <div class="hotel-item__flipper__front__container__info">
    <h2 class="hotel-item__flipper__front__container__info__name" [textContent]="name"></h2>
    <span class="hotel-item__flipper__front__container__info__description" [textContent]="description"></span>
    <div class="hotel-item__flipper__front__container__info__buttons">
      <button class="button primary">Book now</button>
      <button class="button info">Price history</button>
    </div>
  </div>
</div>
<div class="hotel-item__flipper__front__price">
  <span class="hotel-item__flipper__front__price__label">Total</span>
  <span class="hotel-item__flipper__front__price__value">$670</span>
</div>
