:host
  display flex
  height 100%
  width 100%

.hero
  align-items center
  background url('../../../assets/images/hero.jpg') no-repeat fixed
  background-size cover
  display flex
  flex-direction column
  height 100%
  width 100%
