@import 'variables'

:host
  display flex
  flex-direction column
  justify-content center
  height 100%
  width 100%

.footer__copyright
  color $secondary-grey
  font 400 .8rem 'Heebo', sans-serif
  text-align center
