<div class="hotel-item__flipper__back__header">
  <h2 class="hotel-item__flipper__back__header__title" [textContent]="title"></h2>
  <div class="hotel-item__flipper__back__header__back" (click)="onFlip()">
    <arrow></arrow>
    <span class="hotel-item__flipper__back__header__back__text">Back to description</span>
  </div>
</div>
<ul class="hotel-item__flipper__back__price-history">
  <li class="hotel-item__flipper__back__price-history__item" *ngFor="let price of priceHistory">
    <progress-bar [value]="price.Value" [max]="max"></progress-bar>
    <span class="hotel-item__flipper__back__price-history__item__month" [textContent]="price.Month"></span>
  </li>
</ul>
