$primary-green = #79BD1A
$primary-orange = #F98100
$opaque-orange = rgba(249, 129, 0, 0.47)
$primary-black = #000000
$primary-grey = #555555
$secondary-grey = #B5B5B5
$primary-white = #FFFFFF
$border-top = #E3E3E3
$calendar-border = #979797
$hover-transition = all .3s ease
$resize-transition = all .4s linear

