<table class="calendar">
  <thead class="calendar__head">
    <tr class="calendar__head__row">
      <th class="calendar__head__row__header">
        {{ currentMonthName }} / {{ currentYear }}
      </th>
    </tr>
    <tr class="calendar__head__row">
      <th class="calendar__head__row__header" *ngFor="let day of daysOfWeek" [textContent]="day">
      </th>
    </tr>
  </thead>
  <tbody class="calendar__body">
    <tr class="calendar__body__row" *ngFor="let week of matrix">
      <td class="calendar__body__row__data"
        *ngFor="let day of week" calendarDate
        (datePicked)="onDatePicked($event)"
        [attr.data-date]="day?.date"
        [attr.data-index]="day?.index"
        [class.currentMonth]="day?.currentMonth">
        <span class="calendar__body__row__data__day" [textContent]="day?.day || day"></span>
      </td>
    </tr>
  </tbody>
</table>
