:host
  align-items center
  display flex
  flex-direction column
  justify-content flex-end
  height 100%
  width 100%

.footer__social
  display flex
  justify-content space-between
  margin 0
  max-width 10rem
  max-height 2.125rem
  height 100%
  padding 0
  width 100%

.footer__social__item
  display flex
  height 100%
  width 2.125rem

.footer__social__item__facebook,
.footer__social__item__twitter,
.footer__social__item__instagram,
  display flex
  height 100%
  width 100%

[class$="facebook"]
  background-image url('../../../assets/vectors/facebook.svg')

[class$="twitter"]
  background-image url('../../../assets/vectors/twitter.svg')

[class$="instagram"]
  background-image url('../../../assets/vectors/instagram.svg')
