@import 'variables'

:host
  display flex
  flex-direction column
  justify-content space-between
  flex 1 1 50%
  flex-direction column
  height 100%
  margin-top 1.6rem
  min-height 15.75rem
  max-height 15.75rem
  max-width 11.25rem
  width 100%

[class$="label"],
[class$="date"]
  font-family 'Heebo', sans-serif

[class$="label"]
  color $primary-grey
  font-size 1.4rem

[class$="date"]
  color $secondary-grey
  font-size 1.3rem

.check-in,
.check-out
  align-items  center
  display flex
  justify-content space-between
  flex-direction column
  height 3.9rem

@media screen and (min-width: 37.5rem)
  :host
    margin-top 0
    order 1

@media screen and (min-width: 40rem)
  .check-in,
  .check-out
    align-items flex-start
