@import 'variables'

:host
  display flex
  flex-direction column
  justify-content space-between
  height 100%
  position relative
  max-height 7.1rem
  max-width 18.75rem
  user-select none
  width 100%

.price-range__label
  color $secondary-grey
  font 400 .9rem 'Heebo', sans-serif

.price-range__container
  display flex
  align-content space-around
  max-width 100%
  text-align center

.price-range__container__min,
.price-range__container__max
  height .4rem
  background-color $primary-orange
  outline none
  transition all .2s
  -webkit-appearance none
  -webkit-transition .2s
  width 50%
  &:hover
    cursor pointer
  &::-moz-focus-outer
    border 0
  &::-moz-range-track
    height .4rem
    background-color $primary-orange


.price-range__container__min,
.price-range__container__max
  &::-webkit-slider-thumb
    background-color $primary-white
    border .24rem solid $primary-orange
    border-radius 50%
    height 1.5rem
    -webkit-appearance none
    width 1.5rem
    z-index 1
    &:hover
      cursor pointer
  &::-moz-range-thumb
    background-color $primary-white
    border .3rem solid $primary-orange
    border-radius 50%
    height 1.2rem
    width 1.2rem
    z-index 1

.price-range__data
  display flex
  justify-content space-between
  font 400 1rem 'Heebo', sans-serif

.price-range__data__min,
.price-range__data__max
  display flex
  flex-direction column

.price-range__data__min__label,
.price-range__data__max__label
  color $secondary-grey

.price-range__data__min__value,
.price-range__data__max__value
  color $opaque-orange
  font-weight 600
  font-size 1.4rem
