<span class="price-range__label">Price range</span>
<div class="price-range__container">
  <input type="range" class="price-range__container__slideLeft" priceRange [min]="minRange" [max]="maxRange" [value]="minRange">
  <input type="range" class="price-range__container__slideRight" priceRange [min]="minRange" [max]="maxRange" [value]="maxRange">
</div>
<div class="price-range__data">
  <div class="price-range__data__min">
    <span class="price-range__data__min__label">Min</span>
    <span class="price-range__data__min__value" [textContent]="'$' + (slidedLeft || min)"></span>
  </div>
  <div class="price-range__data__max">
    <span class="price-range__data__max__label">Max</span>
    <span class="price-range__data__max__value" [textContent]="'$' + (slidedRight || max)"></span>
  </div>
</div>
