<span class="price-range__label">Price range</span>
<div class="price-range__container">
  <input type="range" class="price-range__container__min">
  <input type="range" class="price-range__container__max">
</div>
<div class="price-range__data">
  <div class="price-range__data__min">
    <span class="price-range__data__min__label">Min</span>
    <span class="price-range__data__min__value">$100</span>
  </div>
  <div class="price-range__data__max">
    <span class="price-range__data__max__label">Max</span>
    <span class="price-range__data__max__value">$600</span>
  </div>
</div>
